<h1> Create New Artist </h1>

<% if flash[:error_messages] %>
    <%= flash[:error_messages].each do |message|%>
        <h2></h2><%= message%></h2>
    <% end%>
<% end %>


<%= form_for @artist do |f| %>
    <%= f.label :name %>
    <%= f.text_area :name %>

    <%= f.label :title %>
    <%= f.text_area :title %>

    <%= f.label :age %>
    <%= f.number_field :age %>

    <%= f.submit %>
<% end%>
